/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #2f3051;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.04rem;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/*
 * Header
 */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav>li {
    display: inline-block;
}

.masthead-nav>li+li {
    margin-left: 20px;
}

.masthead-nav>li>a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav>li>a:hover,
.masthead-nav>li>a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav>.active>a,
.masthead-nav>.active>a:hover,
.masthead-nav>.active>a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * UPLOAD
 */

h3 {
    font-size: 2rem;
}

svg {
    fill: currentcolor;
    pointer-events: none;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

.box {
    background-color: #37385F;
    font-size: 1.5rem;
    height: 500px;
    width: 800px;
    float: left;
    position: relative;
}

.box.is-error {
    background-color: rgba(255, 255, 255, 0.9);
}

.box__container {
    float: left;
    padding-top: 200px;
    height: 50%;
    width: 100%;
}

.box__container ul li {
    display: list-item;
    float: left;
    list-style-type: none;
    margin-right: 10px;
    text-align: center;
    width: 140px;
}

.box__container ul li:first-child {
    display: none;
}

.box__restart,
.box__download--link {
    display: inline-block;
    color: #2f3051;
    height: 100%
}

.box__success {
    display: none;
}

.box.is-dragover {
    background-color: rgba(255, 255, 255, 0.9);
}

.box.has-advanced-upload {
    outline: 5px dashed #2f3051;
    outline-offset: -30px;
}

.box.has-advanced-upload .box__icon {
    display: block;
    fill: #7a7dd3;
    height: 80px;
    margin-bottom: 40px;
    width: 100%;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is-uploading .box__input {
    visibility: none;
}

.box.is-uploading .box__uploading {
    display: block;
}

.js .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__container label>strong {
    text-decoration: underline;
}

.js .box__file+label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.is-dragover .box__file+label {
    color: black;
}

.js .box__file+label:hover strong,
.box__file:focus+label strong,
.box__file.has-focus+label strong {
    color: white;
}

.js .box__file:focus+label,
.js .box__file.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.no-js .box__file+label {
    display: none;
}

.no-js .box__button {
    display: block;
}

.box__button {
    background-color: #5e60a3;
    color: #e5edf1;
    display: block;
    margin: 40px auto 0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 20px;
}

.box__button:hover {
    background-color: #2f3051;
}

button,
input[type="submit"] {
    background-color: transparent;
    border: medium none;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error,
.box__download,
.box__container ul {
    display: none;
}

.is-error .box__download,
.is-error .box__error {
    display: block;
}

.is-error .box__container ul {
    display: flex;
    justify-content: center;
}

.is-error .box__input {
    display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY( -50%);
    transform: translateY( -50%);
}

.box__uploading {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.box__uploading object {
    position: absolute;
    right: 43%;
    top: 43%;
}

.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY( -50%) scale( 0);
    }
    75% {
        -webkit-transform: translateY( -50%) scale( 1.1);
    }
    to {
        -webkit-transform: translateY( -50%) scale( 1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY( -50%) scale( 0);
    }
    75% {
        transform: translateY( -50%) scale( 1.1);
    }
    to {
        transform: translateY( -50%) scale( 1);
    }
}

.box__restart {
    font-weight: 700;
}

.box__restart:focus,
.box__restart:hover,
.box__download--link:hover,
.box__download--link:focus {
    color: #7a7dd3;
}


/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 800px;
    }
}